*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.popUp-gallery{
   width: 100%;
   height: 100%;
   background-color: #0303034D   ;
   backdrop-filter: blur(12px);
   position: absolute;
}
.popUp-gallery .form{
   width: 56.658%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color:#FCFCFC;
   padding: 1rem;
   border-radius: 12px;
}
.popUp-gallery .form .title-popUp{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.popUp-gallery .form .title-popUp i{
   background-color: #FEE9FF;
    padding: 1.5vh;
    border-radius: 8px;
}

/* select menu  */
.select-menu{
    width: 40%;
}
.select-menu .select-btn{
   display: flex;
    height: 3rem;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    color: #92929D;
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
   display: block;
   position: absolute;
   width: 39%;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

/* Start custom btn upload  */
.custom-btn-upload{
   position: relative;
    width: 40%;
    display: flex;
    align-items: center;
}
.custom-btn-upload input#image-upload {
   position: absolute;
   width: 100%;
   opacity: 0;
   height: 100%;
}