section {
    width: 80%;
    margin: 0 auto;

    h1 {
        font-weight: 600;
        margin-bottom: 2%;
    }
    .sponsors{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .container-images {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;

        div {
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 12.904vw;
            // height: 22.015vh;
            height: 15.575vh;

            &.btn-add-img {
                font-weight: 600;
                border: 1px dotted var(--purple-accent);

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 13px;
                        font-weight: 600;
                    }
                }

            }

            &.p-con-img {
                border: 1px solid var(--purple-accent);
            }

            .conatiner-img {
                width: 85%;
                height: 85%;
                position: relative;
                margin: 0 auto;
                border-radius: 8px;
                border: 0px;
                overflow: hidden;
                box-shadow: 0px 0px 5px 0px var(--purple-accent);

                img {
                    width: 100%;
                    transform: scale(2);
                }

                span {
                    position: absolute;
                    content: "Delete";
                    width: 100%;
                    transition: 0.7s;
                    z-index: 2;
                    opacity: 0;
                    text-align: center;
                    // height: 20px;
                    padding: 5px;
                    color: #ffffff;
                    text-shadow: 0px 0px 9px gray;
                    bottom: 0;
                    font-weight: 600;
                    backdrop-filter: blur(13px);
                    background-color: #7b1d8042;
                }

                &:hover {
                    span {
                        opacity: 1;
                    }

                    img {
                        filter: brightness(0.5);
                    }
                }
            }
        }
    }
}

// --Small Device--
@media (max-width: 767px) {
    body {
        main#Gallery {
            header {
                div.container-header {
                    ul {
                        li {
                            padding: 0.7rem 3rem !important;
                        }
                    }
                }
            }

            section {
                text-align: center;

                h1 {
                    border-bottom: 3px solid var(--purple-accent);
                    margin-bottom: 4%;
                    display: inline-block;
                }

                div.container-images {
                    grid-template-columns: repeat(2, 1fr) !important;
                }
            }

            div.popUp-gallery {
                z-index: 9999999999;

                div.form {
                    width: 80.658%;
                    // form{

                    div.inputs-form {
                        margin: 10% 0;

                        form {
                            flex-direction: column;

                            .select-menu {
                                width: 100%;

                                .select-btn {
                                    height: 2.5rem;
                                }
                            }

                            .select-menu.active {
                                .options {
                                    width: 88%;
                                    z-index: 9;
                                }
                            }

                            .custom-btn-upload {
                                width: 100%;

                                span {
                                    font-size: 0.813rem;
                                }

                                button {
                                    padding: 0.313rem;
                                    font-size: 0.688rem;
                                }
                            }
                        }
                    }
                }

                .btns-add-del {
                    button {
                        width: 50%;
                        padding: 0.5rem;
                        font-size: 0.75rem;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }

    // }
}

// --Tablet--
@media (min-width: 768px) and (max-width: 991px) {
    section {
        .container-images {
            grid-template-columns: repeat(6, 1fr);

            div.btn-add-img {
                font-size: 0.625rem;
            }

            div {
                height: 5rem;
            }
        }
    }

    .custom-btn-upload {
        padding: 0.625rem !important;

        button {
            padding: 0.313rem !important;
            font-size: 0.688rem !important;
        }

        span {
            font-size: 0.625rem !important;
        }
    }

    .select-menu {
        .select-btn {
            font-size: 0.625rem !important;
            height: 2.5rem !important;
        }
    }

    .btns-add-del {
        button {
            padding: 0.313rem 0.75rem !important;
            border-radius: 0.313rem !important;
            font-size: 0.938rem !important;
        }
    }
}

// --Medium Laptop--
@media (min-width: 992px) and (max-width: 1199px) {
    main#Gallery {
        header {
            div.container-header {
                ul {
                    li {
                        padding: 1rem 4.5rem;
                    }
                }
            }
        }
    }

    section {
        .container-images {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}