:root {
    --main-background-color: #FEE9FF;
    --main-text-color: #030303;
    --secondary-text-color: #92929D;
    --purple-accent: #7B1D80;
    --section-background-color: #FCFCFC;
    --main-bg-nav-color: #ffff;
    --box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
    --border-bottom: 1px solid var(--main-background-color);
    --border: 1px solid var(--secondary-text-color);
    --main-border-radius: 12px;
    --second-border-radius: 10px;
    --third-border-radius: 8px;
    --padding: 60px 104px;
    --padding-left: 12px;
    --padding-right: 12px;
    --padding-all: 12px;
    --transation: 0.4s;
    --padding-top-bottom: 38px
}

.banner {
    background-color: var(--purple-accent) !important;
}



.section_one {
    background-color: var(--main-bg-nav-color) !important;
    padding-top: var(--padding-top-bottom) !important;
    padding-bottom: var(--padding-top-bottom) !important;

}

.section_one .SectionGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center !important;

    gap: 60px;
}

.SectionGrid .col p:nth-child(1) {
    color: var(--purple-accent) !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    border: 1px solid var(--purple-accent);
    border-radius: var(--third-border-radius) !important;
    padding: 12px 24px !important;
    width: fit-content !important;
}

.SectionGrid .col h2 {
    font-size: 2.4rem !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.SectionGrid .col h2 span {
    color: var(--purple-accent) !important;
}

.SectionGrid .col p {
    color: var(--secondary-text-color) !important;
    font-weight: 400 !important;
    line-height: normal !important;
    font-size: 1rem !important;
}

.carousel-item img {
    width: 100% !important;
    height: 100% !important;
    border-radius: var(--main-border-radius) !important;
}

.carousel-indicators {
    background-color: var(--section-background-color) !important;
    padding: 12px !important;
    border-radius: 100px !important;
    height: 40px !important;

    align-items: center;
}

.carousel-indicators>li.active {
    background-color: var(--purple-accent) !important;
}

.carousel-indicators>li {
    background-color: var(--main-background-color) !important;
    margin: 8px !important;
    padding: 4px;
    border-radius: 8px !important;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 88%;
    z-index: 100;
    border-radius: 48px;
    border: 2px solid var(--main-background-color);
    width: fit-content !important;
    height: fit-content !important;
    font-size: 1rem;
    transition: var(--transation);

}

.carousel-control-prev {

    left: 17%;
}

.carousel-control-next {

    right: 17%;
    background-color: var(--purple-accent) !important;

}

.dynamic {
    border-radius: 12px 0px 0px 12px;
    border-top: 2px solid var(--main-text-color);
    border-bottom: 2px solid var(--main-text-color);
    border-left: 2px solid var(--main-text-color);

    background: var(--section-background-color);
    box-shadow: 8px 8px 4px 0px #7B1D80;
}

.allGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px 0px;
}

.allGrid .numbers {
    padding-left: 32px !important;
}

.allGrid .numbers h3 {
    font-size: 20px !important;
    font-weight: 600;
}

.allGrid .numbers h3 span:first-child {
    color: var(--main-text-color) !important;
    padding-right: 2px !important;

}

.allGrid .numbers h3 span:last-child {
    color: var(--purple-accent) !important;

}

.allGrid .numbers p {
    margin: 0px !important;
    font-size: 9px !important;
    font-weight: 500 !important;
}

.section_two {
    padding-bottom: var(--padding-top-bottom);
}

.first hr {
    background-color: var(--secondary-text-color) !important;
    border: 1px solid var(--secondary-text-color);
}

.headings {
    text-align: center !important;
    padding: var(--padding-top-bottom) 0px !important;
}

.headings h2 {
    font-size: 35px;
    font-weight: 600;
}

.headings h2 span:last-child {
    color: var(--purple-accent) !important;
}

.headings p {
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-text-color) !important;
    padding-top: 3px !important;
}

.committeeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 28px;

}

.committeeGrid .sections .icon_width {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px !important;

}

.committeeGrid .sections .icon {
    background-color: var(--main-background-color) !important;
    border-radius: 24px !important;
    padding: 18px !important;
}

.committeeGrid .sections .text {
    border-radius: 28px;
    border: 2px solid var(--main-background-color);
    padding: 32px;
    text-align: center;
}

.committeeGrid .sections .text h3 {
    color: var(--main-text-color) !important;
    font-size: 18px;
    font-weight: 600;

}

.committeeGrid .sections .text p {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 400;
    padding-top: 24px !important;

    padding-bottom: 24px !important;

}

.committeeGrid .sections .text a {
    color: var(--purple-accent) !important;
    font-size: 18px;
    font-weight: 500;
}

.committeeGrid .sections .text a {
    text-decoration: none !important;
}

.button_width {
    display: flex;
    justify-content: center;
    padding-top: var(--padding-top-bottom);
}

.btn-sections {
    padding: 12px 24px;
    background-color: var(--purple-accent) !important;
    border-radius: var(--second-border-radius);
    outline: none;
    border: var(--border) !important;
    width: 300px !important;
}

.btn-sections a,
.btn-sections a:hover {
    color: var(--section-background-color) !important;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;

}

.item2 img {
    width: 417.333px;
    height: 508px;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.item6 {
    grid-area: left;
}

.item7 {
    grid-area: row;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'header header menu menu main main'
        'right right  menu menu footer footer'
        'left left  menu menu row row';
    gap: 25px;
    align-items: center !important;

}

.grid {
    /* display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px; */
    display: flex;
    align-items: center;
    /* Vertically center items */
    justify-content: center;
    /* Horizontally center items */
    gap: 10px;

}

.grid .number {
    border-radius: 50%;
    border: 3px solid var(--main-background-color);
    background: var(--purple-accent) !important;
    padding: 10px 20px !important;
    font-size: 1.5rem !important;
    color: var(--section-background-color);
    /* align-self: start; */

}

.design {
    display: flex;
    flex-direction: column !important;
}

.grid .design h4 {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
}

.grid .design p {
    color: var(--secondary-text-color) !important;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.096px;
    bottom: 0;
}

.grid .design p,
.grid .design h4 {
    display: inline-block !important;
}




@media screen and (max-width:600px) {
    .section_one .SectionGrid {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }

    .allGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .headings h2 {
        font-size: 32px;
    }

    .committeeGrid {
        grid-template-columns: repeat(1, 1fr);

    }

    .btn-sections {
        width: 100% !important;
    }

    .grid-container {
        grid-template-areas:
            'menu menu'
            'header header'
            'right right'
            'left left'
            'main main'
            'footer footer'
            'row row';
    }

    .item2 img {
        width: 100%;
    }

    .grid .number {
        text-align: left;
    }

}

@media (min-width:760px) and (max-width:940px) {
    .section_one .SectionGrid {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }

    .allGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .headings h2 {
        font-size: 32px;
    }

    .committeeGrid {
        grid-template-columns: repeat(1, 1fr);

    }

    .btn-sections {
        width: 100% !important;
    }

    .grid-container {
        grid-template-areas:
            'menu menu'
            'header header'
            'right right'
            'left left'
            'main main'
            'footer footer'
            'row row';
    }

    .item2 img {
        width: 100%;
    }

    .grid .number {
        text-align: left;
    }

    .committeeGrid {
        grid-template-columns: repeat(2, 1fr);

    }
}