* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables Of Code */
:root {
    --main-background-color: #FEE9FF;
    --main-text-color: #030303;
    --secondary-text-color: #92929D;
    --purple-accent: #7B1D80;
    --section-background-color: #FCFCFC;
    --main-bg-nav-color: #ffff;
    --box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
    --border-bottom: 1px solid var(--main-background-color);
    --border: 1px solid var(--secondary-text-color);
    --main-border-radius: 12px;
    --second-border-radius: 10px;
    --third-border-radius: 8px;
    --padding: 60px 104px;
    --padding-left: 12px;
    --padding-right: 12px;
    --padding-all: 12px;
    --transation: 0.4s;
}

body {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}